h2 {
  color: grey;
}

img {
  margin-left: 30px;
  height: 50px;
  width: 50px;
}

.body {
  min-height: calc(100vh - 70px);
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: rgb(67, 102, 255);
}

.container {
  height: calc(100vh - 78px - 70px);
  width: 600px;
  margin: 0 auto;
}

.profile {
  margin-top: 40px;
  display: flex;
  justify-content: center;
    img {
      height: 260px;
      width: 260px;
    }
    h2 {
      margin-left: 12px;
    }
}

.name {
  justify-content: center;
  display: flex;
  h1 {
    font-size: 32px;
    margin-top: 30px;
  }
}

.userName {
  display: flex;
  margin: 12px;
}

.userInfo {
  margin-left: 20px;
  h1 {
    font-size: 24px;
  }
  a {
    font-size: 14px;
  }
  .copySvg {
    width: 15px;
    height: 15px;
    margin-right: 10px;
  }
  hr {
    height: 0.5px;
    background-color: grey;
    border: none;
  }
}

.nationality {
  margin-left: 12px;
}

.footer {
  background-color: #ebebeb;
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  min-height: 11vh;
  p {
    font-size: 14px;
  }
}
