@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.App {
  // text-align: center;
}

.App-logo {
  height: 30vmin;
  pointer-events: none;
}

img {
  margin-left: 30px;
  height: 50px;
  width: 50px;
}


.App-body {
  min-height: 83vh;
  height: calc(100vh - 78px - 70px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}

.App-footer {
  background-color: #ebebeb;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #000000;
  min-height: 8vh;
  p {
    font-size: 14px;
  }
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
